 1@media screen and (max-width: 1349px){
	.header-text-logo .header-logo-container{
		display: block;
	}
}
@media screen and (max-width: 1280px){
	/*hao*/
	.menu.nav-menu {
		display: block;
		width: 100%;
	}

	.ap-container, .aglee-container, .ag-container{
		width: 90%;
	}
	body.boxed-layout{
		width: 100%;
	}

	.header-text-logo .menu-wrapper, .header-text-only .menu-wrapper, .header-logo-only .menu-wrapper, {
		padding: 0;
	}
	.feature-post-wrap{
		width: 30%;
	}
	.cta-btn-wrap{
		margin-left: 5%;
	}
	.icon-image, .widget .icon-image{
		margin-right: 2%;
	}
	.icon-wrap{
		float: right;
		width: 79%;
	}
	.icon-text-block-wrapper .widget{
		margin-right: 2%;
		width: 32%;
	}
	.icon-block-title{
		font-size: 14px;
	}
	.caption_wrap{
		padding-top: 8%;
	}
	/*TESTIMONIAL SECTION*/
	.testimonial_img{
		margin: 0 auto;
		float: none;
	}
	.testimonial_designation, .testimonial_name{
		float: none;
		width: 100%;
		text-align: center;
	}
	.testimonial_designation p{
		margin: 10px 0;
	}

	.service-post-wrap figure.services-post-thumbnail{
		width: 32%;
	}
	.featured-footer{
		width: 22.4%;
	}
	.footer-featured-section .featured-footer-wrap .textwidget{
		line-height: 20px;
	}
	.textwidget > p{
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 1060px){
	.header-text-logo .header-logo-container{
		display: block;
	}
	.aglee-client-image {
		width: 240px;
		height: 240px;
	}
	.slider_image {
	    padding-bottom: 10px;
	    padding-top: 70px;
	    width: 10%;
	    margin: 0 auto;
	}
	.caption_wrap .slider_cont {
		padding-bottom: 20px;
	}
	.caption_wrap{
		padding-top: 7%;
	}
	.caption_wrap > a {
		font-size: 18px;
	}
	.blog-bottom-content{
		float: left;
		width: 100%;
	}
	.blog_content_home {
		width: 30%;
	}
	.feature-post-wrap{
		width: 29%;
	}
	.home .portfolio-page-container h3 {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}
	#contact-section-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.team_post::before {
		box-shadow: 0 0 150px #000 inset, 0 0 50px #000 inset, 0 0 100px #000 inset;
		-webkit-box-shadow: 0 0 150px #000 inset, 0 0 50px #000 inset, 0 0 100px #000 inset;
		width: 315px;
	}
	.home .testimonial_designation {
		width: 100%;
		float: none;
		text-align: center;
	}
	#site-navigation ul li a {
		padding: 0 10px;
	}
	.no-sidebar-wide #primary, .single #primary{
		padding: 0 10px;
	}
	.home #primary{
		padding: 0;
	}
	.left-sidebar #primary, .right-sidebar #secondary, .both-sidebar #secondary {
		padding-left: 0;
		padding-right: 10px;
	}
	.left-sidebar #secondary, .right-sidebar #primary, .both-sidebar #primary-wrap {
		padding-left: 10px;
	}
	.portfolio_grid.protfolio_colum_3 .portfolios .portfolio_onhover_text p {
		height: 57px;
		overflow: hidden;
	}
	.portfolio_grid.protfolio_colum_4 .portfolios .portfolio_onhover_text p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.services_colum_three .service-post-wrap:nth-child(3n){
		margin-right: 0;
	}
	.service-container.services-feature-image .service-post-wrap-inner .service-post-excerpt {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.service-container.services-feature-image .service-post-wrap-inner h2 {
		margin: 0;
	}
	.service-container.services-feature-image.services_colum_three .service-post-wrap-inner:hover h2 {
		transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
	}
	.service-container.services-feature-image.services_colum_three .service-post-wrap-inner:hover img {
		transform: translateY(-80px);
		-webkit-transform: translateY(-80px);
	}
	.service-container.services-feature-image.services_colum_four figure .fa-external-link {
		top: 20px;
	}
	.service-container.services-feature-image .service-post-wrap-inner:hover h2 {
		transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
	}
	.team-members-container.team-grid .team-member-wrap-inner:nth-child(3n) {
		margin-right: 0;
	}
	.single .team_detail_left {
		width: 65%;
	}
}
@media screen and (max-width: 1024px){
	.team_post::before {
		width: 310px;
	}

	.header-logo-container {
	    position: static;
	}


}

@media screen and (max-width: 980px){
	
	.ap-container, .aglee-container, .ag-container{
		width: 100%;
	}
	.layout-one.menu_align_center .bottom-header .menu-wrapper {
		padding-top: 0;
	}
	.layout_1 .slider_image {
		margin-left: auto;
		margin-right: auto;
		margin-top: 68px;
		padding-top: 0;
		padding-bottom: 10px;
		width: 10%;
	}
	.layout-two .bottom-header .menu-wrapper {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.layout-two .aglee-search {
		bottom: -2px;
	}
	.layout-two.menu_align_center .content-top-head {
		width: 49%;
		padding-top: 20px;
		float: right;
	}
	.layout-three .aglee-search {
		bottom: -80px;
	}
	.bottom-header .menu-wrapper {
		width: auto;
		float: right;
		padding-top: 17px;
	}
	.layout-one.menu_align_left .bottom-header .menu-wrapper {
		float: left;
		margin-top: 0;
	}
	.layout-one.menu_align_left .site-branding {
		width: auto;
	}
	.layout-three .menu-wrapper {
		padding-top: 8px;
	}
	.layout-three.menu_align_center .menu-wrapper, .layout-three.menu_align_left .menu-wrapper {
		padding-top: 0;
	}
	.site-branding {
		width: auto;
	}

	.comments-area {
		margin-bottom: 25px;
	}

	.both-sidebar aside.widget:last-child{
		margin-bottom: 25px;
	}
	article.hentry .edit-link{
		margin-bottom: 25px;
	}
	.layout-two.menu_align_center .top-header .call-us {
		float: none;
	}
	.layout-two.menu_align_center .site-branding {
		text-align: left;
		width: auto;
	}

	.bottom-header{
		margin: 0;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
	}
	.top-header{
		padding: 0 10px;
	}
	.layout-three .top-header{
		position: relative;
	}
	.search-icon > i, .social-icons-head{
		margin-left: 10px;
	}

	.aglee-search{
		text-align: right;
		margin-right: 10px;
	}
	
	.top-header .call-us{
		font-size:12px; 
	}
	
	.header-logo-only .site-title {
		float: none;
		padding: 0 15px;
		width: auto;
	}
	.header-logo-only .menu-wrapper{
		margin-top: 0;
	}
	.header-text-only .site-branding, .header-text-only .menu-wrapper{
		width: 100%;
	}
	.header-text-only .menu-toggle{
		float: none;
		width: 100%;
	}
	
	.header-text-only .site-branding{
		padding: 0 15px; 
		margin: 5px 0;
	}
	.header-text-logo .site-branding{
		float: none;
		width: 100%;
		padding: 0 15px;
	}
	.header-text-logo .header-logo-container{
		display: inline-block;
	}
	.header-text-logo .menu-wrapper{
		width: 100%;
	}
	.hide_top_header .bottom-header{
		margin-bottom:0px; 
	}
	#toggle-feat-page-container{
		margin-top: 0px;
		padding: 50px 15px;
	}
	.blog-bottom-content{
		float: none;
		width: auto;
	}
	
	.team_post::before {
		width: 300px;
	}
	/*---------------------------------
	STICKY MENU
	----------------------------------*/
	.bottom-header.fixed-menu .site-branding {
		padding: 5px 0 10px;
	}
	.woocommerce h1.entry-title{
		font-size: 25px;
	}

	/*=========================== RESPONSIVE NAVIGATION MENU =======================================*/
	.menu-wrapper {
		padding: 10px 0 0;
	}
	.menu.nav-menu {
		display: none;
		width: 100%;
	}
	.menu-toggle {
		border: 0;
		float: right;
		text-align: left;
		display: block;
		padding: 0 15px;
		font-size: 16px;
		font-weight: 700;
		margin-right: 15px;
		border: 1px solid #fff;
		background: transparent;
		color: #5A40A0;
		transition: all ease 0.5s;
		-webkit-transition: all ease 0.5s;
	}
	.layout-two.menu_align_left .menu-toggle, .layout-three.menu_align_left .menu-toggle {
		float: left;
	}
	
	.menu-toggle:hover {
		background: #24639e; 
	}
	.main-navigation .menu-menu-1-container {
		background: #295074;
		/*display: none;*/
		float: left;
		left: 0;
		max-height: 300px;
		overflow: scroll;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 9999;
	}
	#site-navigation ul li{
		display: block;
		text-align: left;
		white-space: nowrap;
	}
	#site-navigation ul li a{
		padding: 0 15px;
	}
	#site-navigation ul ul.sub-menu::before, #site-navigation ul ul.sub-menu::after{
		display: none;
	}
	#site-navigation ul ul.sub-menu{
		width: 100%;
		border: 0;
		display: block;
		opacity: 1;
		visibility: visible;
		position: static;
		padding: 0;
	}
	#site-navigation ul li:hover ul.sub-menu {
		display: block;
	}

	#site-navigation ul li ul.sub-menu li a::before {
		content: "";
		font-family: fontawesome;
		font-size: 16px;
		margin-right: 8px;
	}
	#site-navigation ul li ul.sub-menu li a {
		padding-left: 25px;
	}
	#site-navigation ul li ul.sub-menu li ul.sub-menu li a {
		padding-left: 40px;
	}
	#site-navigation ul ul.sub-menu li ul.sub-menu {
		opacity: 1;
		filter: Alpha(opacity=100);
		visibility: visible;
	}
	#site-navigation ul li ul.sub-menu li ul.sub-menu li a:before {
		content: "\f101";
		font-family: fontawesome;
		font-size: 16px;
		margin-right: 8px;
	}

	/*======================= BANNER CAPTION =============================*/
	.caption_wrap{
		padding-top:7%; 
	}
	.caption_wrap .slider_title{
		font-size: 40px;
	}
	/* FEATURE POST SECTION*/
	.feature-post-wrap-block{
		padding: 0 15px;
	}

	/*CALL TO ACTION*/
	.cta-wrap{
		padding: 48px 15px;
	}
	.cta-btn-wrap{
		margin-left: 8%;
	}
	/*FEATURE SECTION*/
	.icon-text-block-wrapper{
		padding: 0 15px;
		text-align: center;
		margin-right: 0;
	}
	.icon-image, .widget .icon-image {
		float: none;
		font-size: 33px;
		height: 100px;
		line-height: 100px;
		margin: 0 auto;
		width: 100px;
	}	
	.icon-wrap{
		margin-top: 20px;
		width: auto;
	}
	
	/*=========================== SERVICE SECTION ==============================*/
	#test-services-container{
		padding: 0 15px;
	}

	#services-container {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.service-post-wrapper-block > h1, .feat-page-title{
		text-align: left;
	}
	
	.service-post-wrap figure.services-post-thumbnail {
		float: left;
		margin-right: 10px;
		width: 30%;
	}
	.services_caption_wrap {
		float: left;
		margin-top: 0;
		text-align: left;
		width: 66%;
	}
	
	/*-------------------------------------------------------------------
	BLOG SECTION
	--------------------------------------------------------------------*/
	.blog_home_page_content_wrap {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
	}
	.blog_home_page_content_wrap p {
		width: 100%;
	}

	/*FEATURE SECTION*/
	#featured-page-container {
		float: none;
		width: 100%;
		text-align: center;
	}
	.feat-page-wrap > img{
		width: 100%;
	}
	#featured-page-container .feat-page-content{
		text-align: center;
	}

	/*=========================== FOOTER CONTAIN SECTION ==============================*/
	.featured-footer-wrap{
		padding: 0 15px;
	}
	.featured-footer{
		width: 21.5%;
	}
	
	.site-info{
		padding: 25px 15px;
	}

	/*============================== INNER PAGE CONTENT WRAP ========================*/
	/*search page*/
	.nav-links .nav-previous, .nav-links .nav-next{
		width: 100%;
	}
	.error-404 .page-content .err span{

		text-align: left;
	}
	.cta-desc-wrap {
		width: 68%;
	}
}


@media screen and (max-width: 800px){
	.aglee-span1, .aglee-span2, .aglee-span3, .aglee-span4, .aglee-span5 {
		width: 50%;
	}

	.search-form > label {
		width: 86%;
	}
	.aglee-search .search-form > input[type="submit"] {
		width: 13%;
	}
	/*.slider_image {
		width: 18%;
		margin: 40px auto 0;
	}*/
	.team_post::before {
		width: 235px;
	}
	.page h1.entry-title, .single h1.entry-title {
		font-size: 25px;
	}
	.right-sidebar #primary, .left-sidebar #primary, .search #primary  {
		float: none;
		padding: 0 15px;
		width: 100%;
	}
	.left-sidebar #secondary, .right-sidebar #secondary, .both-sidebar #secondary, 
	.both-sidebar #primary-wrap #primary, .both-sidebar #primary-wrap #secondary {
		float: none;
		padding: 0 15px;
		width: 100%;
	}
	.both-sidebar #primary-wrap{
		float: none;
		width: 100%;
		margin-right: 0;
	}
	
	/*==================================== BANNER CAPTION ====================================*/
	.ap-basic-slider-wrapper {
		margin-bottom: 50px;
	}
	.caption_wrap{
		padding-top:6%;
	}
	.caption_wrap .slider_title{
		font-size: 30px; 
	}
	.caption_wrap .slider_cont{
		font-size: 18px;
		padding: 0 0 10px 0;
	}

	#cta-container, 
	#icon-text-block-container, 
	#test-services-container, .footer-featured-section{
		margin-top: 50px;
	}
	.ap-basic-slider-wrapper .bx-pager.bx-default-pager {
		display: none;
	}
	.layout_1 .slider_image {
		margin-top: 88px;
	}
	/*FEATURE POST WRAP*/
	
	.feature-post-wrap {
		margin-bottom: 40px;
		width: 46%;
	}
	.feature-post-wrap:nth-of-type(even) {
		margin-right: 0;
	}
	#featured-post-container .features_title {
		font-size: 25px;
		margin-bottom: 20px;
		width: 100%;
	}
	.blog_third {
		margin-right: 38px;
	}

	/*============================= CALL TO ACTION ===================================*/
	
	.cta-wrap{
		padding: 48px 15px;
		text-align: center;
	}
	.cta-desc-wrap {
		text-align: left;
		vertical-align: middle;
	}
	.cta_title {
		font-weight: bold;
		margin-bottom: 30px;
	}
	.cta_descr {
		line-height: 24px;
		margin-bottom: 20px;
	}
	.cta-btn-wrap {
		margin-left: 20px;
		text-align: right;
		vertical-align: middle;
	}
	/*--------------------------------------------------------------------
	FEATURE VIDEO SECTION
	---------------------------------------------------------------------*/
	.feature_video_section {
		margin-top: 40px;
		padding-bottom: 50px;
	}
	.feature_video_section .feat_video_content {
		width: 100%;
		padding: 0 10px;
		margin-top: 30px;
	}
	.feature_video_section .feat_video_content h2 {
		width: 90%;
		font-size: 25px;
	}
	.feature_video_section .feat_video {
		width: 100%;
	}
	.mejs-container.svg.wp-video-shortcode.mejs-video {
		width: 100% !important;
	}
	.feat_video_content > p {
		width: 100%;
		font-size: 14px;
	}

	/*----------------------------------------------------------
	TEAM SECTION
	-----------------------------------------------------------*/
	.home .team-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.team-container h2 {
		width: 100%;
		font-size: 25px;
	}
	.team-container > p {
		font-size: 14px;
		line-height: 22px;
	}
	.team-members-container.team-grid .team-member-wrap-inner {
		width: 46%;
	}
	.team-members-container.team-grid .team-member-wrap-inner:nth-child(3n) {
		margin-right: 30px;
	}
	.team-members-container.team-grid .team-member-wrap-inner:nth-child(even) {
		margin-right: 0;
	}
	.single .team_detail_left {
		width: 55%;
	}
	.single .team_detail_right {
		width: 40%;
	}

	/*-------------------------------------------------------------
	TESTIMONIAL SECTION
	--------------------------------------------------------------*/
	#testimonial-container {
		float: left;
		margin-left: 0;
		width: 100%;
	}
	
	.testimonial_img {
		float: none;
		margin: 0 auto;
	}
	.home .testimonial_designation, .testimonial_name {
		float: none;
		width: 100%;
		text-align: center;
	}
	.testimonial_designation p{
		margin-top: 20px;
	}
	article.custom-testimonial {
		width: 46%;
	}
	article.custom-testimonial:nth-child(even) {
		margin-right: 0;
	}

	/*-------------------------------------------------
	PORTFOLIO SECTION
	--------------------------------------------------*/
	.portfolio-page-container h2, #testimonial-container h1, .blog_home_page_content_wrap h1, .contact_home_title, #toggle-container > h1, #testimonial-container > h1 {
		font-size: 25px;
		width: 100%;
	}
	.portfolio-page-container h3 {
		font-size: 14px;
	}
	.portfolio-page-container .portfolio_sub_category {
		margin-top: 20px;
	}
	.button-group.cearfix > li {
		font-size: 14px;
	}
	.portfolio_grid.protfolio_colum_4 .portfolios .portfolio_onhover_text p {
		height: 57px;
		overflow: hidden;
		text-overflow: inherit;
		white-space: normal;
	}

	/*--------------------------------------------------------
	SERVICE SECTION
	---------------------------------------------------------*/
	.service-post-wrapper-block > h1, .feat-page-title {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.services_caption_wrap a .services-post-title {
		width: 100%;
	}
	.service-post-wrap {
		width: 47%;
	}
	.services_colum_three .service-post-wrap, .service-container.services_colum_four .service-post-wrap {
		width: 48%;
	}
	.services_colum_three .service-post-wrap:nth-child(even), .service-container.services_colum_four .service-post-wrap:nth-child(even) {
		margin-right: 0;
	}
	.service-container.services-feature-image .service-post-wrap-inner .service-post-excerpt {
		text-overflow: inherit;
		overflow: hidden;
		white-space: normal;
	}
	.services_colum_three .service-post-wrap:nth-child(3n) {
		margin-right: 10px;
	}
	.service-container.services-feature-image.services_colum_four figure .fa-external-link {
		top: 50px;
	}

	/*=========================== FEATURE SECTION =================================*/
	
	.icon-text-block-wrapper .widget{
		float: left;
		width: 48%;
		margin-right: 4%;

	}	
	.icon-text-block-wrapper .widget:nth-of-type(even){
		margin-right: 0;
	}
	.icon-text-block-wrapper .widget:nth-of-type(3n){
		margin-right: 4%;
	}
	.icon-text-block-wrapper .widget:last-child{
		margin-right: 0;
	}
	

	/*================================ ACCORDIAN SECTION ========================================*/
	#toggle-container {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	
	#toggle-container > h1, #testimonial-container > h1{
		margin-bottom: 20px;
	}

	/*=========================== FOOTER CONTAIN SECTION ==============================*/
	
	.featured-footer{
		width: 47%;
		margin-bottom: 30px;
	}
	.featured-footer:nth-of-type(even){
		margin-right: 0;
	}
	
	/*========================================= FOOTER SECTION =================================*/
	.copyright-info{
		text-align: center;
		margin-bottom: 10px;
		line-height: 30px;
		width: 100%;
	}
	.footer-socials{
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	/*================================== CONTACT US PAGE =====================================*/
	#contact-section-container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.contactus-content {
		float: none;
		width: 100%;
	}
	.contactus-map iframe {
		float: none;
		margin-bottom: 30px;
		margin-left: 0;
		width: 100%;
	}
	
	.cta-btn-wrap a {
		margin: auto;
		width: 180px;
	}
	.icon-text-block-wrapper .widget:nth-of-type(6n) {
		margin-right: 0;
	}
	.portfolios {
		width: 33.33%;
	}
	.blog_content_home {
		width: 47%;
	}
	.blog_content_home:nth-of-type(2n) {
		margin-right:0;
	}
}


@media screen and (max-width: 640px){
	.shortcode-slider .bx-caption {
		display: none;
	}
	/*=========================== IMAGE SLIDER ===================================*/
	.team_post::before {
		width: 447px;
	}
	.caption_wrap{
		display: none;
	}

	.cta_title {
		font-size: 25px;
	}
	.cta_descr {
		font-size: 15px;
	}
	.cta-desc-wrap {
		text-align: center;
		width: 100%;
	}
	.cta-btn-wrap {
		margin-left: 0;
		width: 100%;
	}
	
	.blog-bottom-content{
		float: left;
		width: 100%;
	}
	.team-wrapper-block {
		display: block;
		width: 100%;
	}
	.contact_home_left {
		padding-right: 0;
		width: 100%;
	}

	.contact_home_right {
		margin-top: 50px;
		width: 100%;
	}
	.blog_content_home {
		width: 46.4%;
	}
	
	.feature-post-wrap {
		margin-bottom: 40px;
		width: 45.6%;
	}
	.contact_form_home .wpcf7-submit {
		font-weight: bold;
		text-shadow: 0 0 8px #222;
	}
	.contact_form_home .wpcf7-submit:hover {
		text-shadow: none;
	}
	/*----------------------------------------------
	TEAM SINGLE PAGE
	-----------------------------------------------*/
	.single .team_detail_left {
		float: none;
		margin-right: 30px;
		width: 100%;
		padding: 0 10px;
		margin-bottom: 30px;
	}
	.single .team_detail_right {
		float: none;
		width: 100%;
		margin-bottom: 30px;
		padding: 0 10px;
	}

}

@media screen and (min-width: 540px){
	a.a2a_button_wechat {
	    display: none !important;
	}

	a.a2a_button_line {
	    display: none !important;
	}

}


@media screen and (max-width: 540px){
/*hao*/

	.social-media-hao {
	    padding-top: 35px;

	}	
	div#secondary {
		display: none;
	}	

	/*banner 高度 */
	.bx-viewport {
	    height: 150px !important;
	}	

	/*logo 高度*/
	.header-logo-container {
	    height: 100px;
	}

	/*video 寬度 對齊*/
	.video_thrid_content {
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	}	

	.feature_video_section .feat_video {
	    padding-left: 3%;
	    padding-right: 6%;
	}	


	/*最新文章 和 下篇間距*/
	.team_post {
	    margin-bottom: 20px;
	}	

	/*搜尋bar對齊*/
	.aglee-search {
	    margin-right: 30px;
	    margin-top: 20px;
	}

	/*菜單補滿100%*/
	.menu.nav-menu {
	    width: 180%;
	}
	
	/*最新文章頁補滿100%*/
	.page-id-444 div#primary {
	    margin-bottom: 60px;
	    /* float: left; */
	    width: 100%;
	}	

	/*最新文章 下一頁*/
	nav.custom-pagination {
	    margin-left: 30px;
	}	

	/*about us header*/
	.about-header p{
		font-size: 2em;
	}

	.page-id-444 div#secondary {
	    width: 100%;
	    padding-left: 50px;
	    display: block;
	}	
/*hao*/
	.aglee-span1, .aglee-span2, .aglee-span3, .aglee-span4, .aglee-span5 {
		width: 100%;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group::before {
		border-bottom: 1px solid #fff;
		color: #fff;
		content: "Tabs";
		font-family: Droid Sans;
		font-size: 18px;
		font-weight: bold;
		padding: 5px 10px;
		width: 100%;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group::after {
		color: #fff;
		content: "";
		font-family: fontawesome;
		font-size: 14px;
		position: absolute;
		right: 10px;
		top: 5px;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group {
		background: #295074 none repeat scroll 0 0;
		border-bottom: none;
		margin-bottom: 20px;
		position: relative;
		padding-left: 0;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group .tab-title::before {
		color: #fff;
		content: "";
		font-family: fontawesome;
		font-size: 16px;
		margin-right: 5px;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group .tab-title {
		background: transparent none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		color: #fff;
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #3b70a0;
		padding: 5px 15px;
		margin-right: 0;
	}
	.aglee_tab_wrap.horizontal .aglee_tab_group .tab-title:hover, .aglee_tab_wrap.horizontal .aglee_tab_group .active, 
	.aglee_tab_wrap.horizontal .aglee_tab_group .tab-title.active:hover {
		background: #3b70a0 none repeat scroll 0 0;

	}
	.aglee_tab_wrap.vertical .tab-title.active::before, .aglee_tab_wrap.vertical .tab-title.active::after {
		display: none;
	}
	.aglee_tab_wrap.vertical .aglee_tab_group{
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}
	.aglee_tab_wrap.vertical .aglee_tab_content {
		float: none;
		width: 100%;
	}
	.aglee_tab_content {
		margin-bottom: 40px;
	}

	.home header.site-header {
		position: static;
		background: #333;
		padding-top: 10px;
	}
	.home header.site-header.layout-three {
		padding-top: 0;
	}
	.top-header{
		position: relative;
	}
	.layout-two.menu_align_left .social-icons-head {
		padding-bottom: 3px;
	}
	.layout-two .aglee-search {
		bottom: -40px;
	}
	.layout-three .aglee-search {
		bottom: -80px;
	}
	.aglee-search input[type="search"]{
		font-size: 13px;
	}
	.search-form > label {
		width: 70%;
	}
	.aglee-search .search-form > input[type="submit"] {
		width: 28%;
	}

	.top-header .call-us span{
		font-size:12px; 
		text-transform: capitalize;
	}
	.header-logo-only .site-title{
		width: 100%;
		float: none;
		padding: 0 15px;
	}
	.header-text-only .site-branding{
		width: 100%;
		margin: 10px 0;
		padding: 0 15px; 
	}
	.header-text-only .menu-wrapper{
		width: 100%;
	}
	.bx-wrapper .bx-controls-direction a {
		top: 35%;
	}
	.layout-two.menu_align_center .social-icons-head {
		padding-bottom: 5px;
	}
	.layout-three.menu_align_center .call-us {
		margin-top: 0;
		line-height: 20px;
	}

	/* TOGGLE NAVIGATION TAB */
	.menu-toggle {
		display: block;
		padding: 0 15px;
		font-size: 16px;
		font-weight: 700;
		margin-right: 0px;
	}
	.menu-menu-1-container {
		display: none;
		border-top:none;
	}


	/*=========================== FEATURE SECTION =================================*/
	.feature-post-wrap {
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}
	.feature-post-wrap:nth-of-type(3n) {
		margin-bottom: 0;
	}


	.icon-text-block-wrapper .widget {
		float: none;
		margin-bottom: 30px;
		margin-right: 0;
		width: 100%;
	}

	.icon-wrap {
		float: none;
		margin-top: 20px;
		text-align: center;
		width: 100%;
	}

	/*TESTIMONIAL SECTION*/
	#testimonial-container {
		float: none;
		margin-left: 0;
		width: 100%;
	}
	#testimonial-container .testimonial_content {
		float: none;
		width: 100%;
	}
	.portfolios {
		width: 50%;
	}
	article.custom-testimonial {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.portfolio_grid.protfolio_colum_2 .portfolios .portfolio_onhover_text p {
		height: 47px;
		overflow: hidden;
	}
	
	.portfolio_list .protfolio-inner-border {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
		text-align: center;
	}
	.protfolio_colum_3 .portfolios, .protfolio_colum_4 .portfolios {
		width: 50%;
	}
	.portfolio_list .portfolio_onhover_text {
		float: none;
		width: 100%;
	}

	/*=================================== SERVICE SECTION =================================*/

	#services-container {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	
	.service-post-wrapper-block{
		margin: 0;
	}
	.service-post-wrap figure.services-post-thumbnail {
		float: none;
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%;
	}
	.services_caption_wrap, .services_colum_three .service-post-wrap{
		float: none;
		width: 100%;
		text-align: center;
	}
	.team-members-container.team-list .team-member-thumb {
		width: 290px;
		height: auto;
		margin-right: 0;
	}
	.team-members-container.team-list .team-desc {
		width: 100%;
	}
	
	/*====================================== FOOTER CONTAIN SECTION ==================================*/
	.footer-featured-section{
		padding: 50px 0 30px 0;
	}
	.featured-footer {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		padding: 0 0 20px 0;
		width: 100%;
		border-bottom: 2px dashed #5d5d5d;
	}
	.featured-footer:last-child {
		margin-bottom: 0;
		border-bottom: none;
		padding-bottom:0; 
	}
	.aptf-single-tweet-wrapper, .aptf-tweet-date{
		float: none;
	}
	.aptf-tweet-date{
		display: inline-block;
	}

	.widget_archive li:last-child, .widget_categories li:last-child, 
	.widget_recent_entries li:last-child, .widget_meta li:last-child, 
	.widget_recent_comments li:last-child{
		border-bottom: none;
		padding: 0;
		margin: 0;
	}

	.widget_newsletterwidget .newsletter-submit{
		margin-top: 15px;
	}

	/*===================================== BLOG LAYOUTS =====================================*/
	.blog-image-medium .blog_listing_img, .blog-image-alternate-medium .blog_listing_img {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
		width: 100%;
	}
	.blog-image-medium .blog-excerpt, .blog-image-alternate-medium .blog-excerpt {
		float: none;
		margin: 20px 0 0;
		width: 100%;
	}
	.blog_content_home {
		width: 100%;
	}
	.blog_listing_img {
		text-align: center;
	}

	/*============================== ERROR PAGE ========================*/
	.error-404 .page-content .err::after{
		right: 35px;
	}

	.error-404 .page-content .err span{
		text-align: left;
		width: 170px;
	}

	.error{
		margin-left: 20px;
	}

	#comments h2.comments-title{
		left: 0;
	}

}

@media screen and (max-width: 540px) and (orientation: portrait) {

	.social-icons-head {
		float: none;
	}
	.site-branding {
		width: 100%;
	}
	.bottom-header .menu-wrapper {

	    padding-top: 0px;
	    width: 100%;
	    position: fixed;
	    z-index: 999;
	    left: 0;
	    top: 0;
	    background-color: #eee !important;
	}
	.menu-toggle {
		width: 100%;
		position: relative;
	}
	.layout-three .menu-toggle {
		width: auto;
	}
	.layout-one .menu-toggle::after, .layout-two .menu-toggle::after {
		content: "Menu";
		position: absolute;
		right: 15px;
	}
	.portfolios {
		float: none;
		width: 100%;
	}
	.team_post::before {
		width: auto;
	}
	.layout-two .site-branding, .layout-two .content-top-head {
		width: 100%;
	}
	.layout-three.menu_align_center .site-branding {
		width: auto;
	}
	.layout-three.menu_align_left .menu-wrapper {
		padding-top: 8px;
		width: auto;
	}
	.layout-three.menu_align_left .search-icon {
		float: right;
	}
	.layout-three .social-icons-head {
		margin-left: 0;
	}
	.layout-three .call-us {
		margin-top: 0;
	}
	.bottom-header.fixed-menu .menu-wrapper {
		padding-bottom: 10px;
	}
	.protfolio_colum_2 .portfolios, .protfolio_colum_3 .portfolios, .protfolio_colum_4 .portfolios, .service-container.services_colum_four .service-post-wrap {
		width: 100%;
	}
	.portfolio_grid.protfolio_colum_2 .portfolios .portfolio_onhover_text p, .portfolio_grid.protfolio_colum_3 .portfolios .portfolio_onhover_text p,
	.portfolio_grid.protfolio_colum_4 .portfolios .portfolio_onhover_text p {
		height: auto;
	}
	.team-members-container.team-grid .team-member-wrap-inner {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.cart_email_wrap {
		top: 240px;
	}
	.service-post-wrap {
		width: 100%;
		margin-right: 0;
	}

}